include MANIFEST.in
include requirements.txt
include *.json
include *.md
include *.py
include *.txt
recursive-include afs_payment *.css
recursive-include afs_payment *.csv
recursive-include afs_payment *.html
recursive-include afs_payment *.ico
recursive-include afs_payment *.js
recursive-include afs_payment *.json
recursive-include afs_payment *.md
recursive-include afs_payment *.png
recursive-include afs_payment *.py
recursive-include afs_payment *.svg
recursive-include afs_payment *.txt
recursive-exclude afs_payment *.pyc