<html>
    <head>

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

        <script src="https://afs.gateway.mastercard.com/checkout/version/56/checkout.js"
                data-error="errorCallback"
                data-cancel="cancelCallback"  data-complete="completeCallback">
                // data-complete="completeCallback"
        </script>

        <script type="text/javascript">

            window.addEventListener('DOMContentLoaded', (event) => {              
                setTimeout(function(){
                 Checkout.showLightbox();
                 document.getElementById("loader").style.display = "none";
                }, 2000);
            });
            
            function errorCallback(error) {
                  console.log(JSON.stringify(error));
            }
            function cancelCallback() {
                window.location.href = "/thankyou?id={{order_id}}"           

             }
             function redirectpage(data)
             {
                console.log(data);
             }
            function timeoutCallback() {
                console.log('Time out');
            }
            function OrderAmount(){
                 // Generate number of the transaction attampt based on manual input
                var orderAmount = '{{order_total}}'
                return parseFloat(orderAmount).toFixed(3);
            }

         
            function completeCallback(data) {
                 console.log(data)
                $.ajax({
                    type: 'POST',
                    Accept: 'application/json',
                    ContentType: 'application/json;charset=utf-8',
                    url: window.location.origin + '/api/method/erpnext_ecommerce.erpnext_ecommerce.api.make_payment_entry',
                    data: { 'order_id': '{{order_id}}',"request_id":'{{payment_request_id}}'},
                    dataType: "json",
                    async: false,
                    headers: {
                        'X-Frappe-CSRF-Token': '{{csrf_token}}'
                    },
                    success: function(data) {
                        window.location.href = "/thankyou?id={{order_id}}"
                    }
                })
            }

         
            Checkout.configure({
                session: { 
                        id: "{{session_id}}"
                   },

                merchant: '{{merchant_id}}', // JUST put your MID here 
                order: {
                    amount: OrderAmount(),
                    currency: '{{currency}}',
                    description: 'Payment against payment request: {{order_id}}',
                    id: 'ORDER_ID_{{order_id}}',
                    reference: 'ORDER_REF_{{order_id}}',
                },
                interaction: {
                    operation: 'PURCHASE',
                    merchant: {
                        name: '{{merchant_name}}',
                    },
                    displayControl: {
                        billingAddress: "HIDE",
                        customerEmail: "HIDE",
                        orderSummary: "HIDE",
                        paymentConfirmation: "HIDE",
                        paymentTerms: "HIDE",
                        shipping: "HIDE"
                    },
                },
                transaction: {
                    reference: 'TXN_REF_{{order_id}}',
                }
            });
        </script>
    </head>
    <body>
        <div class="center" id="loader"></div>
    </body>

    <style type="text/css">
        .center {
            background: url(/assets/afs_payment/images/loading-gif.gif) no-repeat center center;
            height: 100%;
            width: 100%;
        }
    </style>
</html>